 *{ 
	margin:0;
	padding:0; 
	border:0; 
	list-style:none;
}
body{ 
	width:950px;
	background-image: url(../images/2.jpg); 	 
	margin:0 auto;
	margin-top: 20px;
}
.kaitou{
	width: 950px;
	height: 230px;
	background:#f9f0eb;
}
.zhucebiao{
	width: 390px;
	height: 250px;
	background-image: url(../images/bg.png);
	background-repeat: no-repeat;
	margin-left: 20px;

}
.xiaotu{
	width: 300px;
	height: 200px;
	background-image: url(../images/t3.jpg);
	background-repeat: no-repeat;
	float: right;
	margin-right: 330px;
	margin-top:-248px; 
	
	
}
.redian  {
	width: 390px;
	height: 250px;
	background-image: url(../images/bg.png);
	background-repeat: no-repeat;
	float: right;
	margin-top: -250px;
	margin-right:-90px;
	
}
.redian a{
	color: #000000;
	text-decoration:none;	
}
.top{ 
	width:950px; 
	height:200px; 
	background-image:url(../images/top.jpg); 
	background-repeat: no-repeat; }
 .img1{
 	width: 170px;
 	height: 130px;
 	position: absolute;
	margin-left:10px;
	top:38px;
 }
.top .wenben{ 
	width:197px; 
	height:25px; 
	line-height:25px; 
	border:#e27f5b 2px solid; 
	float:right; 
	margin:30px 30px 0 0; 
	background:#f8e6e0; 
	padding-left:3px}
.top .sousu{ 
	float:right; 
	width:50px; height:24px; 
	line-height:20px; 
	font-family:"微软雅黑"; 
	font-size:14px; 
	border:#e27f5b 1px solid; 
	margin:32px 10px 0 0; }
.nav{ 
	width:950px; 
	height:40px; 
	background:#993300;} 
.nav ul li{ 
	width:100px; 
	height:40px; 
	float:left; 
	font-family:"微软雅黑"; 
	font-size:14px; 
	line-height:40px; 
	text-align:center; 
	margin:0px 20px; 
	color:#FFFFFF;}
.nav a{ 
	text-decoration:none; 
	color:#FFF;}
.nav ul li a:hover{ 
	width:100px; 
	height:40px; 
	line-height:40px;
	background:#dc581d; 
	display:block;} 

.nr_z{ 
	width:950px; 
	background:#f9f0eb;} 
.nr{ 
	width:910px; 
	height:1000px; 
	padding:20px;}
.nr .tu img{
	width:290px; 
	margin-right:20px; 
	float:left;}
.wenzi{ 
	height:300px; 
	float:left; 
	width:595px;}
.wenzi p{ 
	width:595px; 
	line-height:20px; 
	font-family:"微软雅黑"; 
	font-size:14px; }
.wenzi h3{ 
	font-family:"微软雅黑"; 
	font-size:16px;  
	height:35px; 
	line-height:35px; 
	width:585px; 
	background:#e58049; 
	padding-left:10px; 
	margin-bottom:10px;}
.tu{
	opacity: 0.5;
}
.tu:hover{
	opacity: 1;
}
.tu2{
	 width:300px; 
	 float:right;
	 opacity: 0.5;}
.tu2:hover{
	opacity: 1;
}
.meitu{ 
	height:370px; 
	float:left; 
	width:910px;}
.meitu h3{
	font-family:"微软雅黑"; 
	font-size:16px;  
	height:35px; 
	line-height:35px; 
	width:900px; 
	background:#e58049; 
	padding-left:10px; 
	margin-bottom:10px;}
.meitu a{ 
	float:right; 
	margin-right:20px; 
	color:#000000; 
	text-decoration:none;}
.meitu span{ 
	float:left;
}
.meitu img{ 
	float:left;
	opacity: 0.5;
}
.meitu img:hover{
	opacity: 1;
}
.meitu2{ 
	float:right; 
	width:320px; 
	height:295px; 
	margin-left:10px;}
.meitu p{  
	line-height:25px; 
	margin-top:50px; 
	text-align:left; 
	padding-left:20px; 
	float:left; 
	width:550px;}
.dan{ 
	width:250px; 
	height:30px;}

.pic{ 
	width:940px;}
.pic img{ 
	margin-left:40px; 
	margin-top:20px;}

.fnav p{ 
	padding:30px; 
	color:#333;}
.zuihou{
	width: 900px;
	height: 100px;
	color: #000000;
	margin-left: 200px;
	text-align: center;
}







