*{ 
	margin:0;
	padding:0; 
	border:0; 
	list-style:none;
}
body{ 
	width:950px;
	background-image: url(../images/2.jpg); 	 
	margin:0 auto;}
.top{ 
	width:950px; 
	height:200px; 
	background-image:url(../images/top.jpg); 
	background-repeat: no-repeat; }
 .img1{
 	width: 170px;
 	height: 130px;
 	position: absolute;
	left:230px;
	top:38px;
 }
.top .wenben{ 
	width:197px; 
	height:25px; 
	line-height:25px; 
	border:#e27f5b 2px solid; 
	float:right; 
	margin:30px 30px 0 0; 
	background:#f8e6e0; 
	padding-left:3px}
.top .sousu{ 
	float:right; 
	width:50px; height:24px; 
	line-height:20px; 
	font-family:"微软雅黑"; 
	font-size:14px; 
	border:#e27f5b 1px solid; 
	margin:32px 10px 0 0; }
.nav{ 
	width:950px; 
	height:40px; 
	background:#993300;} 
.nav ul li{ 
	width:100px; 
	height:40px; 
	float:left; 
	font-family:"微软雅黑"; 
	font-size:14px; 
	line-height:40px; 
	text-align:center; 
	margin:0px 20px; 
	color:#FFFFFF;}
.nav a{ 
	text-decoration:none; 
	color:#FFF;}
.nav ul li a:hover{ 
	width:100px; 
	height:40px; 
	line-height:40px;
	 background:#dc581d; 
	 display:block;} 
.luiyanban{ 
	width:950px; 
	background:f9f0eb;}
.chongzhi{ 
	width:50px; 
	height:25px; 
	border:#CCCCCC 1px solid; 
	border-radius:5px;
	 background:#e8e6e5; margin:10px;}

.luiyanban{ 
	width:500px; 
	margin:0 auto; 
	padding-bottom:0px;}
.luiyanban_z .xingbei{ margin:10px; }
.luiyanban_z .xingqu{ margin:10px;}
.luiyan{
	 width:495px; 
	 height:300px; 
	 border:#dcc6ba 1px solid;
	  padding:5px; }
.zuihou{
	width: 900px;
	height: 100px;
	color: #000000;
	margin-left: -220px;
	margin-bottom: 0px;
	text-align: center;
}
.mianbaoxie{
	width: 950px;
	height: 40px;
	font-size: 19px;
	text-align: left;
	margin-top: 0px;
	background-color: #f9f0eb;
	
}




