/*
主体样式
*/
*{
	padding: 0px;
	margin: 0px;
	border: 0px;
}
html{
	padding: 0px;
	color:#522a06; 
	text-align: center;
	font-size: 12px;
	font-family: '宋体'；
}
html img{
	border:0;
}
body{/*height: 750px;*/
	background-image: url(../images/bodybg.gif);
}
body ul{
	list-style: none;
}
a{
	color: 	#f9f603;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
/*
网页头部样式
*/
.header{
	width: 1300px;
	height: 205px;
	background-image: url(../images/banner.jpg);

}
.banner{
	height: 164px;
	text-align: center;
}
.banner img{
	margin-top: 35px;
	margin-left: -800px;

}

.nav{/*border: 1px  solid;*/
	height: 40px;
	background-image: url(../images/nav1.jpg);
}
.nav_body{
	width: 1000px;
}
.nav_content{
	color: #FFFFFF;
	width: 800px;
	margin-left: 120px;
	font-weight: bolder;
}
.nav_content ul{border: 1px #fff solid;
	margin-top: 0px;

}
.nav_content ul li{
	float: left;

}

.nav ul li a{
	color: #CC6666;
	line-height: 40px;
}
.nav ul li a:hover{
	color: #f9f603;
	text-decoration: none;
}
.nav_search{
	margin-right: -40px;
}

.nav_search input{
	width: 140px;
	height: 20px;
	float: right;
	margin-right: 1px;
	margin-top: 11px;
	background-color:#f8f5ee;
}
.nav_search input[type='button']{
	color: #fff;
	width: 44px;
	height: 21px;
	margin-top: 11px;
	margin-right:120px;
	background-color: #000;
}
.shouye{/*border: 1px #FF0000 solid;*/
	font-size: 14px;
	width: 226px;
	height: 20px;
	margin-top: 40px;
	margin-left: 140px;
}
.shouye a{
	color: #FF00FF;
}
.shouye a:hover{
	color: #FF0000;
	text-decoration: none;
}
.img{/*border: 1px #FF0000 solid;
*/
	width: 200px;
	height: 200px;
	background-image: url(../images/news_bg.png);
	margin-top: 60px;
	float: left;
	margin-left:-464px;
}
.img img{
	width: 160px;
	height: 140px;
	margin-top: 10px;
}
.word{
	font-weight: bolder;
	width: 200px;
	height: 20px;
	margin-top: 10px;
}
.img2{/*border: 1px #FF0000 solid*/;

	width: 200px;
	height: 200px;
	background-image: url(../images/news_bg.png);
	margin-top: 60px;
	float: left;
	margin-left:-220px;
}
.img2 img{
	width: 160px;
	height: 140px;
	margin-top: 10px;
}
.word{
	font-weight: bolder;
	width: 200px;
	height: 20px;
	margin-top: 10px;
}
.text{/*border: 1px #FF0000 solid;
*/	width: 250px;
	height: 200px;
	margin-top: 60px;
	margin-left: 600px;
	
}
.text img{/*border: 1px #FF0000 solid;*/
	width: 250px;
	height: 35px;
	
	
}
.text ul{/*border: 1px #FF0000 solid*/;
	width: 250px;
	height: 160px;
	background-image: url(../images/news_bg.png);
}
.text ul li{
	float: left;
	margin-left: 10px;
}
.form{border: 1px #000000 solid;
	color: : #fff;
	font-weight:bolder;
	width: 220px;
	height: 160px;
	margin-top: -200px;
	float: right;
	margin-right:170px;
	background-image: url(../images/biankuang.jpg);

}
.div{/*border: 1px #FF0000 solid;*/
	width: 735px;
	height: 238px;
	margin-top: 10px;
	margin-left: 130px;
}
.div1{/*border: 1px #FF0000 solid;*/
	width: 735px;
	height: 160px;
	background-image: url(../images/fengcai_bg2.png);
	background-repeat: no-repeat;
}
.div1 img{
	width: 140px;
	height: 136px;
	float: left;
	margin-top: 20px;
	margin-left: 32px;
}
.word2{/*border: 1px #FF0000 solid;*/
	width: 735px;
	height: 60px;
	margin-top: 20px;
}
.TV{/*border: 1px #FF0000 solid;*/
	width: 260px;
	height: 250px;
	margin-right: -285px;
	margin-top: -260px;
	float: right;
	background-image: url(../images/rebo.jpg);
	background-repeat: no-repeat;
}
.TV img {
	width: 200px;
	height: 100px;
	margin-top: 10px;
	float: right;
	margin-right: 40px;
}
.div3{
	width: 277px;
	height: 1px;
	font-size: 20px;
	text-align: center;

}
.div4{
	width: 277px;
	height: 300px;
	float: left;
	margin-right: 60px;
	margin-top: 40px;

}
.div5{
	font-size: 12px;
	width: 224px;
	height: 80px;
	margin-top: 10px;
	float: left;
	margin-left: 20px;
}
.footer{
	height: 80px;
	color: #522a06;
	margin-top: 30px;
	margin-left: 5px;
	font-size: 12px;
	text-align: center;
}
.footer img{
	width: 800px;
	height: 1px;
}
